<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"  lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h1>Student Management System</h1>
</div>
<br><br>
<div>
    <tr>
        <div align = "center" >
            <h3><a th:href="@{'/course'}">Course Management</a></h3>
        </div>
    </tr>
    <tr>
        <div align = "center" >
            <h3><a th:href="@{'/student'}">Student Management</a></h3>
        </div>
    </tr>
    <tr>
        <div align = "center" >
            <h3><a th:href="@{'/register'}">Student Registration</a></h3>
        </div>
    </tr>

</div>
</body>
</html>
